<script>
export default {
    name: "MonthComponent",
    props: {
        year: {
            type: [Number, String],
            required: true
        },
        month: {
            type: [Number, String],
            required: true
        }
    },
    computed: {
        days() {
            return ['Pzt', 'Sal', 'Çar', 'Per', 'Cum', 'Cmt', 'Paz'];
        },
        calendar() {
            let lastDayInMonth = this.getLastDayInMonth();  // Aydaki toplam gün sayısını al
            let dayOfWeek = this.getDayOfWeek(); // Ayın İlk Günü'nün Haftanın Hangi Gününe Geldiğini al
            let weekCount = Math.ceil((lastDayInMonth + dayOfWeek) / 7); // Ayın kaç hafta olduğunu al
            let days = [];
            let day = 1;

            for (let week = 1; week <= weekCount; week++) { // Hafta sayısı kadar döngü oluştur
                days[week] = [];
                for (let i = 1; i <= 7; i++) { // Her hafta 7 gün olduğu için 7 günlük döngü oluştur

                    if (week === 1 && i < dayOfWeek) { // İlk hafta ve ilk günler boş olduğu için null olarak ekle
                        days[week].push(null);
                        continue;
                    }

                    if (day > lastDayInMonth) { // Son hafta ve son günler boş olduğu için null olarak ekle
                        days[week].push(null);
                        continue;
                    }

                    days[week].push(day);
                    day++;
                }
            }
            // days dizisinin ilk elemanı boş olduğu için onu sil
            days.shift();
            return days;
        },
    },
    methods: {
        getLastDayInMonth() { // Aydaki toplam gün sayısını al
            return new Date(this.year, this.month, 0).getDate();
        },
        getDayOfWeek() { // Ayın İlk Günü'nün Haftanın Hangi Gününe Geldiğini al
            let dayOfWeek = new Date(this.year, this.month - 1, 1).getDay();
            dayOfWeek = dayOfWeek === 0 ? 7 : dayOfWeek; // Pazar günü 0 olarak döndüğü için 7 olarak değiştir
            return dayOfWeek;
        }
    },
}
</script>

<template>
    <div v-if="year && month">
        <table>
            <thead>
            <tr>
                <th v-for="day in days" :key="day">{{ day }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(week, index) in calendar" :key="'calendar_'+index">
                <td v-for="day in week" :key="day">{{ day }}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div v-else>
        <p>Year and month are required.</p>
    </div>
</template>
